body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* .header{
  background-color: rgb(192, 220, 222);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .menu ul{
  margin-bottom: 0;
}

.header .menu ul li{
  display: inline-block;
  margin-right: 10px;
  list-style: none;
  text-decoration: none;
}
.header .menu ul li Link{
  padding: 3px 6px;
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 500;

} */

.nav-bar .col{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(240, 94, 50);

}

.nav-bar .col .logo h1{
  color: white;
  font-weight: 700;
}
.nav-bar .col .links a, .nav-bar .col .home a{
  display: inline-block;
  padding: 3px 6px;
  color: white;
  font-size: 17px;
}


.register .col-5{
  background-color: rgb(183, 175, 175);
}
.register .col-5 form .disable{
  background-color: rgb(243, 86, 86);
  pointer-events: none;
}














.navbar{
  background-color: aquamarine;
}
.navbar .col .logo h1{
  margin: 0;
}

/* .image-add .col-4{
  border:  1px solid black;

} */


.image-add .col-4 form label{
  font-size: 40px;
  font-weight: 700;
  border: 1px solid red;
  cursor: pointer;
  border-radius: 50%;
  padding: 0 15px;
  color: red;

}
.image-add .col-4 form .disable{
  pointer-events: none;
  background-color: rgb(176, 83, 7);

}

.container .gallary .all-images{
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* grid-template-rows: auto; */
    grid-template-rows: 230px;
    /*grid-auto-flow: dense;   /* Use media Query to solve the image shrink problem*/
    gap: 1em;

}

.container .gallary .all-images .photo-card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container .gallary .all-images .tall{
  grid-row: span 2;
}
.container .gallary .all-images .wide{
  grid-column: span 2

}